In [1]:
text1 = "Ethics are built right into the ideals and objectives of the United Nations "
len(text1)

76

In [2]:
text2 = text1.split(" ")
len(text2)

14

In [3]:
text2

['Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations',
 '']

In [4]:
[w for w in text2 if len(w) > 3]

['Ethics',
 'built',
 'right',
 'into',
 'ideals',
 'objectives',
 'United',
 'Nations']

In [5]:
#capitals
[w for w in text2 if w.istitle()]

['Ethics', 'United', 'Nations']

In [6]:
[w for w in text2 if w.endswith('s')]

['Ethics', 'ideals', 'objectives', 'Nations']

In [10]:
text3 = 'To be or not to be'
text4 = text3.split(' ')

In [11]:
len(text4)

6

In [12]:
len(set(text4))

5

In [14]:
len(set([w.lower() for w in text4]))

4

In [18]:
s = 'dondeAesta'
s.isalpha()

True

In [20]:
test1 = '   Robert Goulet   '
print("Test this strip->{}<-".format(test1.strip()))

Test this strip->Robert Goulet<-

In [21]:
test1 = '   Robert Goulet   '
print("Test this strip->{}<-".format(test1.rstrip()))

Test this strip->   Robert Goulet<-

In [28]:
text5 = 'ouagadougou'
text6 = text5.split('ou')

In [29]:
text6

['', 'agad', 'g', '']

In [31]:
'ou'.join(text6)

'ouagadougou'

In [32]:
list(text5)

['o', 'u', 'a', 'g', 'a', 'd', 'o', 'u', 'g', 'o', 'u']

In [33]:
###cleaning text
text8 = '  A quick brown fox jumped over the lazy dog. '

In [34]:
text8.split(' ')

['',
 '',
 'A',
 'quick',
 'brown',
 'fox',
 'jumped',
 'over',
 'the',
 'lazy',
 'dog.',
 '']

In [35]:
text9 = text8.strip()
text9.split(' ')

['A', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog.']

In [36]:
text9.find('o')

10

In [37]:
text9.rfind('o')

40

In [38]:
text9.replace('o', '0')

'A quick br0wn f0x jumped 0ver the lazy d0g.'

# Regular Expressions

In [40]:
text10 = 'â€œWe need to join together to make a future" - powerful speech from @GreenJeanMEP, standing up for refugees, for free movement and against the rise of far right across Europe #gpconf. Look @ me.  goulet@goulet.net'

In [44]:
text11 = text10.split(' ')
text12 = [w for w in text11 if w.startswith('@')]

In [46]:
text12

['@GreenJeanMEP,', '@']

In [47]:
import re
[w for w in text11 if re.search('@[A-Za-z0-9_]', w)]

['@GreenJeanMEP,', 'goulet@goulet.net']

In [48]:
[w for w in text11 if re.search('@\w+', w)]

['@GreenJeanMEP,', 'goulet@goulet.net']

In [49]:
text13 = 'ouagadougou'
re.findall('[aeiou]', text13)

['o', 'u', 'a', 'a', 'o', 'u', 'o', 'u']

In [50]:
re.findall('[^aeiou]', text13)

['g', 'd', 'g']

In [52]:
datestr  = '22 Oct 2002'
re.findall(r'\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}', datestr )

['Oct']

In [53]:
re.findall(r'\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}', datestr )

['22 Oct 2002']

# Text in Pandas

In [54]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])

In [55]:
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [56]:
df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [57]:
df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [58]:
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [59]:
df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [60]:
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [61]:
df['text'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [62]:
df['text'].str.replace(r'\w+day\b', '???')

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [68]:
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [69]:
df['text'].str.extract(r'(\d?\d):(\d\d)')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [72]:
df['text'].str.extractall(r'((\d?\d):(\d\d) ?(am|pm))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [73]:
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<am_pm>am|pm))')

             time hour minute am_pm
  match
0 0        2:45pm    2     45    pm
1 0      11:30 am   11     30    am
2 0        7:00pm    7     00    pm
3 0      11:15 pm   11     15    pm
4 0      08:10 am   08     10    am
  1       09:00am   09     00    am